form { /*name*/
    
        color: blue;
        background-color: gray;
        font-family: Ariel, Hevtica, sans-serif;
        font-size: 25px;
    
}

#form2 { /*id*/
 
    color: hotpink

}

.INform2{ /*class*/

    color: green;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    margin: 10px  
}